<a href="https://colab.research.google.com/github/rizkymyx/PortoflioProject/blob/main/DataCleaningPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [4]:
transaction = pd.read_csv('Transaction.csv')

In [10]:
transaction.head(10)

,Transaction_id,customer_id,Date,Product,Gender,Device_Type,Category,Customer_Login_type,Delivery_Type,Quantity,Amount US$,Individual_Price_US$
0,40170,1348959766,11/14/2013,Hair Band,Female,Web,Accessories,Member,one-day deliver,12,"6,910",576
1,76028,1645228017,12/21/2013,Jean,Female,Web,Clothing,Guest,one-day deliver,16,641,40
2,17894,1610000572,10/10/2013,Shirt,Male,Web,Clothing,Member,one-day delivery,12,"1,647",137
3,17949,2217960309,10/10/2013,Shirt,Male,Web,Clothing,Member,one-day deliver,17,0,0
4,17951,2219304866,10/10/2013,Shirts,Male,Web,Clothing,Member,one-day deliver,22,"5,298",241
5,18016,1980331295,10/10/2013,Shirt,Male,Web,Clothing,Member,one-day deliver,19,"4,509",237
6,18902,1847892475,10/12/2013,Shirt,Male,Web,Clothing,Member,one-day deliver,20,0,0
7,18967,1649911553,10/13/2013,Shirt,Male,Web,Clothing,Member,one-day deliver,17,"1,499",88
8,19180,1903809905,10/13/2013,Shirt,Male,Web,Clothing,Member,one-day delivery,16,"2,000",125
9,19203,1411855932,10/13/2013,Shirts,Male,Web,Clothing,Member,one-day delivery,21,"3,260",155

In [32]:
transaction.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2798 entries, 0 to 2809
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Transaction_id        2798 non-null   object
 1   customer_id           2798 non-null   object
 2   Date                  2798 non-null   datetime64[ns]
 3   Product               2798 non-null   object
 4   Gender                2798 non-null   object
 5   Device_Type           2798 non-null   object
 6   Category              2798 non-null   object
 7   Customer_Login_type   2798 non-null   object
 8   Delivery_Type         2798 non-null   object
 9   Quantity              2798 non-null   int64
 10  Amount US$            2798 non-null   int64
 11  Individual_Price_US$  2798 non-null   int64
dtypes: datetime64[ns](1), int64(3), object(8)
memory usage: 284.2+ KB

In [9]:
transaction_backup = transaction.copy

In [11]:
transaction['Transaction_id'] = transaction['Transaction_id'].astype('str')

In [12]:
transaction['customer_id'] = transaction['customer_id'].astype('str')

In [14]:
transaction['Date'] = pd.to_datetime(transaction['Date'], format='%m/%d/%Y')

In [21]:
transaction['Amount US$']

0       6910
1        641
2       1647
3          0
4       5298
        ...
2805    3495
2806    9900
2807    1768
2808    9216
2809    3298
Name: Amount US$, Length: 2809, dtype: object

In [17]:
transaction['Amount US$'] = transaction['Amount US$'].str.replace(',','')

In [ ]:
transaction['Amount US$'] = transaction['Amount US$'].astype('int')

In [20]:
transaction = transaction.dropna(axis=0)

In [ ]:
transaction['Individual_Price_US$'] = transaction['Individual_Price_US$'].str.replace(',','')

In [ ]:
transaction['Individual_Price_US$'].unique()

In [31]:
transaction['Individual_Price_US$'] = transaction['Individual_Price_US$'].astype('int')

menghapus #VALUE!

In [30]:
transaction = transaction[transaction['Individual_Price_US$']!='#VALUE!']

In [34]:
transaction.drop_duplicates()

,Transaction_id,customer_id,Date,Product,Gender,Device_Type,Category,Customer_Login_type,Delivery_Type,Quantity,Amount US$,Individual_Price_US$
0,40170,1348959766,2013-11-14,Hair Band,Female,Web,Accessories,Member,one-day deliver,12,6910,576
1,76028,1645228017,2013-12-21,Jean,Female,Web,Clothing,Guest,one-day deliver,16,641,40
2,17894,1610000572,2013-10-10,Shirt,Male,Web,Clothing,Member,one-day delivery,12,1647,137
3,17949,2217960309,2013-10-10,Shirt,Male,Web,Clothing,Member,one-day deliver,17,0,0
4,17951,2219304866,2013-10-10,Shirts,Male,Web,Clothing,Member,one-day deliver,22,5298,241
...,...,...,...,...,...,...,...,...,...,...,...,...
2805,87229,1934341369,2014-01-04,Shoes,Female,Mobile,wearables,Member,one-day deliver,13,3495,269
2806,91945,1506256089,2014-01-11,Shoes,Female,Mobile,wearables,Member,one-day deliver,13,9900,762
2807,92063,1651310842,2014-01-11,Shoes,Female,Mobile,wearables,Member,one-day deliver,23,1768,77
2808,92458,2152149636,2014-01-12,Shoes,Female,Mobile,wearables,Member,one-day deliver,16,9216,576
2809,92660,1382338268,2014-01-12,Shoes,Female,Mobile,wearables,Member,one-day deliver,16,3298,206

In [36]:
transaction.to_csv('transaction1.csv')

from google.colab import files
files.download('transaction1.csv')